{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

{% endblock %}
{% block body %}

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="{{ path('index') }}">Développeur Web Junior</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="{{ path('index') }}">Home</a></li>
                            {#<li><a href="{{ path('generic') }}">Generic</a></li>#}
                            {#<li><a href="{{ path('elements') }}">Elements</a></li>#}
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <i class="fa fa-code fa-5x"></i>
        <div class="space"></div>
        <div class="inner">
            <h2> Développeur Web Junior</h2>
        </div>
        <a href="#one" class="more scrolly">En savoir plus</a>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>Bienvenue sur le site d'un Développeur Web Junior</h2>
            </header>
            <ul class="icons major">
                <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
                <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
                <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
            </ul>
            <h3>Projets :</h3>
        </div>

    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt style2">
        <section class="spotlight">
            <div class="image"><a href="https://www.ncstox.com/login" target="_blank"><img src="{{ asset('assets/img/ncstox-compressor.png') }}" alt=""/></a></div>
            <div class="content">
                <h2>Natural Complex Substance Toxicity NCSTOX </h2>
                <p>Création d'une base de donnée prédictive pour déterminer le profil toxicologique de molécules
                    naturelles et extraits de plantes. Symfony, PHP, Postgresql, Bootstrap</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><a href="http://www.secourisme45.com" target="_blank"><img src="{{ asset('assets/img/ffss45-compressor.png') }}" alt=""/></a></div>
            <div class="content">
                <h2>Fédération Française de Sauvetage Secourisme</h2>
                <p>Ajout de fonctionnalités de payement au site de la fédération française sauvetage secourisme du
                    loiret, création d'un espace client sécurisé, système de notification par sms et emails,
                    backoffice.</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="{{ asset('assets/img/hagrickathon-compressor.jpeg') }}" alt=""/></div>
            <div class="content">
                <h2>Hagrickathon Open agrifood Orléans</h2>
                <p>Hackathon organisé durant l'OpenAgrifood Orléans sur le thème de l'agriculture. Sujet : Stop Tabous,
                    plateforme d'information et de mise en relation sur l'agroalimentaire. PHP/SYMFONY/BOOTSTRAP Mention
                    du jury pour travail collaboratif </p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><a href="http://www.mtourisme-ludique.fr/" target="_blank"><img
                            src="{{ asset('assets/img/mtourisme-compressor.png') }}" alt=""/></a></div>
            <div class="content">
                <h2>mTourisme-Ludique</h2>
                <p>Refonte du site mtourisme-ludique.fr, Bootstrap responsive, PHP, Symfony, Backoffice, Module de
                    publication d'articles, formulaire de contact</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><a href="https://gy0m.github.io/WildShoes/" target="_blank"><img
                            src="{{ asset('assets/img/wildshoes-compressor.png') }}" alt=""/></a></div>
            <div class="content">
                <h2>WildShoes</h2>
                <p>Projet fictif de site vitrine d'un magasin de vente de chausse-pieds haut de gamme. Bootstrap
                    responsive, Html5, Css3</p>
            </div>
        </section>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>Formations</h2>
            </header>
            <ul class="features">
                <li class="icon fa-graduation-cap">
                    <h3>Développeur Web</h3>
                    <p>Formation de Développeur Web bac+2 en 5 mois à la WildCodeSchool. Symfony PHP MySql Bootstrap Git
                        Html5 Css3 Scrum</p>
                </li>
                <li class="icon fa-graduation-cap">
                    <h3>Développeur d'application - PHP / Symfony</h3>
                    <p>Formation de Développeur d'application - PHP / Symfony bac+3/+4 de 1 an avec OpenClassroom.</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style4">
        <div class="inner">

            <!--Naked Form-->
            <div class="card-block">

                <!--Header-->
                <div class="text-center">
                    <h3><i class="fa fa-envelope"></i> Me Contacter :</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <form action="" method="post">
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" id="form3" class="form-control">
                        <label for="form3">Votre Nom</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="form2" class="form-control">
                        <label for="form2">Votre email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-tag prefix"></i>
                        <input type="text" id="form32" class="form-control">
                        <label for="form34">Sujet</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea type="text" id="form8" class="md-textarea form-control"></textarea>
                        <label for="form8">Texte</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-default">Envoyer</button>

                    </div>
                </form>
            </div>
            <!--Naked Form-->


        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://twitter.com/GyomToo" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.linkedin.com/in/guillaume-landreau-96520978/" target="_blank"
                   class="icon fa-linkedin-square "><span class="label">GitHub</span></a></li>
            <li><a href="https://github.com/Gy0m" target="_blank" class="icon fa-github"><span
                            class="label">GitHub</span></a></li>
            <li><a href="https://gitlab.com/Gy0m" target="_blank" class="icon fa-gitlab "><span
                            class="label">GitLab</span></a></li>
            <li><a href="https://codepen.io/Gy0m/#" target="_blank" class="icon fa-codepen "><span
                            class="label">CodePen</span></a></li>
            <li><a href="https://jsfiddle.net/user/Gy0m/fiddles/" target="_blank" class="icon fa-jsfiddle "><span
                            class="label">JsFiddle</span></a></li>
            <li><a href="https://stackoverflow.com/users/6843097/gy0m?tab=profile" target="_blank"
                   class="icon fa-stack-overflow"><span class="label">GitHub</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy;opyright</li>
            <li>Design: @Gy0m</li>
        </ul>
    </footer>


{% endblock %}